<html>
  <head>
    <title>Upload CSV File</title>
  </head>
  <body>
    <div style="padding: 40px 0 40px 0">
      <form enctype="multipart/form-data" action="/upload" method="POST">
          <table>
            <tr>
              <th>Select file:</th>
              <th>
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile">
              </th>
              <th><input type="submit" placeholder="Upload File"></th>
            </tr>
          </table>
      </form>
    </div>
    <br /><br />
    <h4>Hostname: {{ hostname }}</h4>
  </body>
</html>
